@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black p-0 m-0 overflow-x-hidden;
}

/* Add the lines below */
@layer utilities {
  @layer components {
    .masonry {
      column-gap: 1em;
      column-count: 4;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

.dark .cursor-fx__inner__outside,
.dark .cursor-fx__inner__inside {
  @apply !text-gray-50 shadow-white drop-shadow-sm;
}
body ::v-deep .vue-cursor-fx {
  position: fixed;
}
