@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black p-0 m-0;
}

/* Add the lines below */
@layer utilities {
  @layer components {
    .masonry {
      column-gap: 1em;
      column-count: 4;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
