@import './toggle.css';

* {
  transition-property: background-color, border-color, text-decoration-color,
    fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tnr {
  font-family: 'Times New Roman', Times, serif;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.animate__delay-025s {
  animation-delay: 0.25s;
}

.animate__delay-050s {
  animation-delay: 0.5s;
}

.animate__delay-075s {
  animation-delay: 0.75s;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button,
input {
  cursor: default;
}
